#  Summary of the code

•	Here I present the different datasets to be used in the data analysis and model building.

•	The dataset containing dissolved nitrogen concentrations was consistent from 2000 to 2017. Therefore, the analysis is constraint to that period of time. 

•	Descriptions about the type of data and how to access it are included.

•	When needed, data is cleaned. For example, when flags within the documents indicate compromised data. 

•	Extra variables are calculated from the different datasets. For example, accumulated days with precipitation from precipitation data.

# Import relevant packages

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import datasets

NFK international airport data (wind/precipitation)

    Data is publicly available at https://www.ncdc.noaa.gov/cdo-web/cart

    Station name: NORFOLK INTERNATIONAL AIRPORT, VA US

    Station ID: GHCND:USW00013737

    Data contains daily average of wind speed and wind direction, and daily values of accumulated precipitation.

In [2]:
infile_NFK_airport='C:/Users/a_mac/Box Sync/current projects/MTM through the year/0_NFK_weather_review/NCDC_NOAA_precipitation_wind_2000_2018_NFK_IntAirp.csv'
NFK_airport=pd.read_csv(infile_NFK_airport)
NFK_airport.head()

,STATION,NAME,DATE,month,day,year,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,...,WDF5,WDF5_ATTRIBUTES,WDFG,WDFG_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES
0,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",1/1/2000,1,1,2000,7.83,",,X",1344.0,",,X",...,220.0,",,X",NaN,NaN,16.1,",,X",19.9,",,X",NaN,NaN
1,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",1/2/2000,1,2,2000,9.40,",,X",1522.0,",,X",...,220.0,",,X",NaN,NaN,21.0,",,X",23.9,",,X",NaN,NaN
2,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",1/3/2000,1,3,2000,12.97,",,X",1407.0,",,X",...,240.0,",,X",NaN,NaN,21.9,",,X",25.9,",,X",NaN,NaN
3,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",1/4/2000,1,4,2000,19.46,",,X",1441.0,",,X",...,220.0,",,X",NaN,NaN,33.1,",,X",40.9,",,X",NaN,NaN
4,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",1/5/2000,1,5,2000,10.96,",,X",633.0,",,X",...,20.0,",,X",NaN,NaN,25.1,",,X",34.0,",,X",NaN,NaN

    Calculate ACCUMULATED precipitation per 'n' days

In [3]:
NFK_airport['DATE'] = pd.to_datetime(NFK_airport['DATE'])
df = NFK_airport.groupby('STATION').apply(lambda x: x.set_index('DATE').resample('1D').first())
# print (df)

# define here the number of days of accumulated rain 
# use 'window = n'
df1 = df.groupby(level=0)['PRCP'].apply(lambda x: x.shift().rolling(min_periods=1,window=2).sum()).reset_index(name='Sum_Past_2_days')
df2 = df.groupby(level=0)['PRCP'].apply(lambda x: x.shift().rolling(min_periods=1,window=3).sum()).reset_index(name='Sum_Past_3_days')
df3 = df.groupby(level=0)['PRCP'].apply(lambda x: x.shift().rolling(min_periods=1,window=5).sum()).reset_index(name='Sum_Past_5_days')

# merged the data
merged_1=pd.merge(NFK_airport,df1)
merged_2=pd.merge(merged_1,df2)
merged_NFK_airport=pd.merge(merged_2,df3)

# take a look on the new table (with the merged data)
merged_NFK_airport.head()

,STATION,NAME,DATE,month,day,year,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,...,WDFG_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,Sum_Past_2_days,Sum_Past_3_days,Sum_Past_5_days
0,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",2000-01-01,1,1,2000,7.83,",,X",1344.0,",,X",...,NaN,16.1,",,X",19.9,",,X",NaN,NaN,NaN,NaN,NaN
1,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",2000-01-02,1,2,2000,9.40,",,X",1522.0,",,X",...,NaN,21.0,",,X",23.9,",,X",NaN,NaN,0.00,0.00,0.00
2,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",2000-01-03,1,3,2000,12.97,",,X",1407.0,",,X",...,NaN,21.9,",,X",25.9,",,X",NaN,NaN,0.00,0.00,0.00
3,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",2000-01-04,1,4,2000,19.46,",,X",1441.0,",,X",...,NaN,33.1,",,X",40.9,",,X",NaN,NaN,0.00,0.00,0.00
4,USW00013737,"NORFOLK INTERNATIONAL AIRPORT, VA US",2000-01-05,1,5,2000,10.96,",,X",633.0,",,X",...,NaN,25.1,",,X",34.0,",,X",NaN,NaN,0.65,0.65,0.65

Conductivity and Water temperature from the NOAA station at Sewells Point

    Data is publicly available at https://tidesandcurrents.noaa.gov/physocean.html?bdate=20190101&edate=20191231&units=metric&timezone=GMT&id=8638610&interval=h&action=data

    Station name: Sewells Point, VA

    Station ID: 8638610

    Data contains hourly measurements of water temperature and conductivity

    The page only allows you to download 365 days of data. Therefore, you have to download manually each year if more than one is require.

In [4]:
infile_temp_cond_Sewells='C:/Users/a_mac/Box Sync/current projects/MTM through the year/0_NFK_weather_review/WatTemp_Conduct_Sewellspoint_2000to2017_filled.csv'
data_temp_cond_Sewells=pd.read_csv(infile_temp_cond_Sewells)
# data_temp_cond_Sewells.head()
# data_temp_cond_Sewells.columns
data_temp_cond_Sewells

              Date  month  day  year  Time_GMT  WatTemp_C  Conduct_mS_cm
0         1/1/2000      1    1  2000  0.000000        6.3            NaN
1         1/1/2000      1    1  2000  0.041667        6.3            NaN
2         1/1/2000      1    1  2000  0.083333        6.3            NaN
3         1/1/2000      1    1  2000  0.125000        6.3            NaN
4         1/1/2000      1    1  2000  0.166667        6.2            NaN
5         1/1/2000      1    1  2000  0.208333        6.2            NaN
6         1/1/2000      1    1  2000  0.250000        6.0            NaN
7         1/1/2000      1    1  2000  0.291667        6.1            NaN
8         1/1/2000      1    1  2000  0.333333        6.1            NaN
9         1/1/2000      1    1  2000  0.375000        6.0            NaN
10        1/1/2000      1    1  2000  0.416667        6.4            NaN
11        1/1/2000      1    1  2000  0.458333        6.4            NaN
12        1/1/2000      1    1  2000  0.500000        6.4            NaN
13        1/1/2000      1    1  2000  0.541667        6.4            NaN
14        1/1/2000      1    1  2000  0.583333        6.3            NaN
15        1/1/2000      1    1  2000  0.625000        6.2            NaN
16        1/1/2000      1    1  2000  0.666667        6.4            NaN
17        1/1/2000      1    1  2000  0.708333        6.5            NaN
18        1/1/2000      1    1  2000  0.750000        6.7            NaN
19        1/1/2000      1    1  2000  0.791667        6.8            NaN
20        1/1/2000      1    1  2000  0.833333        6.9            NaN
21        1/1/2000      1    1  2000  0.875000        6.9            NaN
22        1/1/2000      1    1  2000  0.916667        6.8            NaN
23        1/1/2000      1    1  2000  0.958333        6.7            NaN
24        1/2/2000      1    2  2000  0.000000        6.7            NaN
25        1/2/2000      1    2  2000  0.041667        6.7            NaN
26        1/2/2000      1    2  2000  0.083333        6.7            NaN
27        1/2/2000      1    2  2000  0.125000        6.7            NaN
28        1/2/2000      1    2  2000  0.166667        6.8            NaN
29        1/2/2000      1    2  2000  0.208333        6.7            NaN
...            ...    ...  ...   ...       ...        ...            ...
154026  12/30/2017     12   30  2017  0.750000        5.7          20.92
154027  12/30/2017     12   30  2017  0.791667        5.7          20.85
154028  12/30/2017     12   30  2017  0.833333        5.7          20.79
154029  12/30/2017     12   30  2017  0.875000        5.7          20.88
154030  12/30/2017     12   30  2017  0.916667        5.7          20.84
154031  12/30/2017     12   30  2017  0.958333        5.7          20.83
154032  12/31/2017     12   31  2017  0.000000        5.8          21.05
154033  12/31/2017     12   31  2017  0.041667        5.7          20.89
154034  12/31/2017     12   31  2017  0.083333        5.8          21.08
154035  12/31/2017     12   31  2017  0.125000        5.8          21.22
154036  12/31/2017     12   31  2017  0.166667        5.6          20.93
154037  12/31/2017     12   31  2017  0.208333        5.8          21.19
154038  12/31/2017     12   31  2017  0.250000        5.5          20.89
154039  12/31/2017     12   31  2017  0.291667        5.4          20.75
154040  12/31/2017     12   31  2017  0.333333        5.4          20.81
154041  12/31/2017     12   31  2017  0.375000        5.6          20.91
154042  12/31/2017     12   31  2017  0.416667        5.7          21.02
154043  12/31/2017     12   31  2017  0.458333        5.7          21.06
154044  12/31/2017     12   31  2017  0.500000        5.9          21.80
154045  12/31/2017     12   31  2017  0.541667        5.7          21.34
154046  12/31/2017     12   31  2017  0.583333        5.7          21.39
154047  12/31/2017     12   31  2017  0.625000        5.6          21.41
154048  12/31/2017     12   31  2017  0.666667        5.7          21.46
154049  12/31/2017     12   31  2017  0.708333        5.5          21.35
154050  12/31/2017     12   31  2017  0.750000        5.3          21.09
154051  12/31/2017     12   31  2017  0.791667        5.2          20.88
154052  12/31/2017     12   31  2017  0.833333        5.3          20.95
154053  12/31/2017     12   31  2017  0.875000        5.3          20.95
154054  12/31/2017     12   31  2017  0.916667        4.6          20.09
154055  12/31/2017     12   31  2017  0.958333        4.8          20.30

[154056 rows x 7 columns]

Extract/calculate daily values

In [7]:
OutputFileName="fSewells20002019_temp_cond_perday.csv"
OutputFile=open(OutputFileName,"w")
OutputFile.write("Date,day,month,year,Temp,Cond\n")

for i in data_temp_cond_Sewells.Date.unique():
    Date=i
    day=np.mean(data_temp_cond_Sewells.day[data_temp_cond_Sewells.Date==i])
    month=np.mean(data_temp_cond_Sewells.month[data_temp_cond_Sewells.Date==i])
    year=np.mean(data_temp_cond_Sewells.year[data_temp_cond_Sewells.Date==i])
    Temp=np.max(data_temp_cond_Sewells.WatTemp_C[data_temp_cond_Sewells.Date==i])
    Cond=np.max(data_temp_cond_Sewells.Conduct_mS_cm[data_temp_cond_Sewells.Date==i])
    
    Ouputstring="%s,%i,%i,%i,%f,%f" % (Date,day,month,year,Temp,Cond)
    OutputFile.write(Ouputstring + "\n")
OutputFile.close()

In [8]:
Sewells_temp_cond_perday=pd.read_csv(OutputFileName)
Sewells_temp_cond_perday

            Date  day  month  year  Temp   Cond
0       1/1/2000    1      1  2000   6.9    NaN
1       1/2/2000    2      1  2000   7.5    NaN
2       1/3/2000    3      1  2000   8.0    NaN
3       1/4/2000    4      1  2000   8.9    NaN
4       1/5/2000    5      1  2000   9.0    NaN
5       1/6/2000    6      1  2000   8.7    NaN
6       1/7/2000    7      1  2000   8.8    NaN
7       1/8/2000    8      1  2000   8.6    NaN
8       1/9/2000    9      1  2000   8.6    NaN
9      1/10/2000   10      1  2000   8.8    NaN
10     1/11/2000   11      1  2000   9.1    NaN
11     1/12/2000   12      1  2000   8.9    NaN
12     1/13/2000   13      1  2000   9.0    NaN
13     1/14/2000   14      1  2000   8.9    NaN
14     1/15/2000   15      1  2000   8.1    NaN
15     1/16/2000   16      1  2000   6.7    NaN
16     1/17/2000   17      1  2000   6.9    NaN
17     1/18/2000   18      1  2000   6.2    NaN
18     1/19/2000   19      1  2000   5.9    NaN
19     1/20/2000   20      1  2000   5.3    NaN
20     1/21/2000   21      1  2000   5.1    NaN
21     1/22/2000   22      1  2000   4.3    NaN
22     1/23/2000   23      1  2000   4.1    NaN
23     1/24/2000   24      1  2000   3.9    NaN
24     1/25/2000   25      1  2000   3.8    NaN
25     1/26/2000   26      1  2000   2.7    NaN
26     1/27/2000   27      1  2000   2.2    NaN
27     1/28/2000   28      1  2000   1.5    NaN
28     1/29/2000   29      1  2000   1.4    NaN
29     1/30/2000   30      1  2000   1.5    NaN
...          ...  ...    ...   ...   ...    ...
6390   12/2/2017    2     12  2017  12.3  19.92
6391   12/3/2017    3     12  2017  12.4  19.54
6392   12/4/2017    4     12  2017  12.2  19.57
6393   12/5/2017    5     12  2017  12.5  19.61
6394   12/6/2017    6     12  2017  12.5  19.61
6395   12/7/2017    7     12  2017  12.4  19.55
6396   12/8/2017    8     12  2017  12.0  19.27
6397   12/9/2017    9     12  2017  11.8  19.18
6398  12/10/2017   10     12  2017  11.2  18.91
6399  12/11/2017   11     12  2017   9.6  17.91
6400  12/12/2017   12     12  2017   9.6  17.82
6401  12/13/2017   13     12  2017   9.3  17.75
6402  12/14/2017   14     12  2017   8.2  17.13
6403  12/15/2017   15     12  2017   8.3  17.79
6404  12/16/2017   16     12  2017   7.9  17.29
6405  12/17/2017   17     12  2017   7.3  16.68
6406  12/18/2017   18     12  2017   7.6  16.90
6407  12/19/2017   19     12  2017   7.7  17.20
6408  12/20/2017   20     12  2017   7.8  22.59
6409  12/21/2017   21     12  2017   8.0  23.32
6410  12/22/2017   22     12  2017   7.9  22.76
6411  12/23/2017   23     12  2017   8.4  22.67
6412  12/24/2017   24     12  2017   8.6  24.14
6413  12/25/2017   25     12  2017   8.5  23.19
6414  12/26/2017   26     12  2017   8.0  22.61
6415  12/27/2017   27     12  2017   7.7  22.62
6416  12/28/2017   28     12  2017   7.7  22.54
6417  12/29/2017   29     12  2017   6.6  21.41
6418  12/30/2017   30     12  2017   6.1  21.99
6419  12/31/2017   31     12  2017   5.9  21.80

[6420 rows x 6 columns]

    Calculate ACCUMULATED Water Temperature per 'n' days

In [9]:
Sewells_temp_cond_perday['Date'] = pd.to_datetime(Sewells_temp_cond_perday['Date'])
df = Sewells_temp_cond_perday.groupby('year').apply(lambda x: x.set_index('Date').resample('1D').first())
# print (df)

# define here the number of days of accumulated rain 
# use 'window = n'
df1 = df.groupby(level=0)['Temp'].apply(lambda x: x.shift().rolling(min_periods=1,window=2).sum()).reset_index(name='Sum_Past_2_days')
df2 = df.groupby(level=0)['Temp'].apply(lambda x: x.shift().rolling(min_periods=1,window=3).sum()).reset_index(name='Sum_Past_3_days')
df3 = df.groupby(level=0)['Temp'].apply(lambda x: x.shift().rolling(min_periods=1,window=5).sum()).reset_index(name='Sum_Past_5_days')

# merged the data
merged_1=pd.merge(Sewells_temp_cond_perday,df1)
merged_2=pd.merge(merged_1,df2)
merged_Sewells=pd.merge(merged_2,df3)

# take a look on the new table (with the merged data)
merged_Sewells.head()

,Date,day,month,year,Temp,Cond,Sum_Past_2_days,Sum_Past_3_days,Sum_Past_5_days
0,2000-01-01,1,1,2000,6.9,NaN,NaN,NaN,NaN
1,2000-01-02,2,1,2000,7.5,NaN,6.9,6.9,6.9
2,2000-01-03,3,1,2000,8.0,NaN,14.4,14.4,14.4
3,2000-01-04,4,1,2000,8.9,NaN,15.5,22.4,22.4
4,2000-01-05,5,1,2000,9.0,NaN,16.9,24.4,31.3

Water level from the NOAA station at Sewells Point

    Data is publicly available at https://tidesandcurrents.noaa.gov/physocean.html?bdate=20190101&edate=20191231&units=metric&timezone=GMT&id=8638610&interval=h&action=data

    Station name: Sewells Point, VA

    Station ID: 8638610

    Data contains hourly measurements of water level

    The page only allows you to download 365 days of data. Therefore, you have to download manually each year if more than one is require.

In [10]:
infile_MLLW_Sewells='C:/Users/a_mac/Box Sync/current projects/MTM through the year/0_NFK_weather_review/MLLW_sewellspoint_2000_20018.csv'
MLLW_Sewells=pd.read_csv(infile_MLLW_Sewells)
MLLW_Sewells.head()
# MLLW_Sewells

,Counter,Date,month,day,year,Time_GMT,Predicted_ft,preliminary_ft,Verified_ft
0,1,1/1/2000,1,1,2000,0.000000,1.346,-,0.93
1,2,1/1/2000,1,1,2000,0.041667,0.853,-,0.47
2,3,1/1/2000,1,1,2000,0.083333,0.387,-,0.01
3,4,1/1/2000,1,1,2000,0.125000,0.077,-,-0.27
4,5,1/1/2000,1,1,2000,0.166667,0.017,-,-0.41

# hours above 3ft - MLLW

    filter data for desired water level (MLLW) limit

In [11]:
MLLW_abv_3=MLLW_Sewells[MLLW_Sewells.Verified_ft>2.99]
MLLW_abv_3.head()

,Counter,Date,month,day,year,Time_GMT,Predicted_ft,preliminary_ft,Verified_ft
443,444,1/19/2000,1,19,2000,0.458333,2.673,-,3.14
444,445,1/19/2000,1,19,2000,0.500000,2.951,-,3.36
445,446,1/19/2000,1,19,2000,0.541667,2.849,-,3.23
468,469,1/20/2000,1,20,2000,0.500000,2.777,-,3.17
469,470,1/20/2000,1,20,2000,0.541667,3.048,-,3.54

    Calcute hours above 3ft - MLLW

In [12]:
MLLW_abv_3.columns

Index(['Counter', 'Date', 'month', 'day', 'year', 'Time_GMT', 'Predicted_ft',
       'preliminary_ft', 'Verified_ft'],
      dtype='object')

In [15]:
OutputFileName_MLLWmax="TimeAbove3ft20002019.csv"
OutputFile_MLLWmax=open(OutputFileName_MLLWmax,"w")
OutputFile_MLLWmax.write("Date,month,day,year,above\n")

for i in MLLW_abv_3.Date.unique():
    Date=i
    month=np.mean(MLLW_abv_3.month[MLLW_abv_3.Date==i])
    day=np.mean(MLLW_abv_3.day[MLLW_abv_3.Date==i])
    year=np.mean(MLLW_abv_3.year[MLLW_abv_3.Date==i])
    above=np.sum(MLLW_abv_3.Verified_ft[MLLW_abv_3.Date==i])
    
    Ouputstring_MLLWmax= "%s,%i,%i,%i,%f" % (Date,month,day,year,above)
    OutputFile_MLLWmax.write(Ouputstring_MLLWmax + "\n")

In [16]:
MLLW_above3ft=pd.read_csv(OutputFileName_MLLWmax)
MLLW_above3ft

            Date  month  day  year  above
0      1/19/2000      1   19  2000   9.73
1      1/20/2000      1   20  2000  13.41
2      1/21/2000      1   21  2000  15.95
3      1/22/2000      1   22  2000   3.02
4      1/24/2000      1   24  2000   9.62
5      1/25/2000      1   25  2000  78.91
6      1/26/2000      1   26  2000   6.11
7      3/12/2000      3   12  2000   6.06
8      3/18/2000      3   18  2000   6.16
9      3/19/2000      3   19  2000   6.48
10     3/20/2000      3   20  2000  23.85
11     3/21/2000      3   21  2000  41.52
12     3/22/2000      3   22  2000  40.16
13     3/23/2000      3   23  2000  28.98
14     3/24/2000      3   24  2000   6.29
15      4/9/2000      4    9  2000   3.15
16     4/18/2000      4   18  2000  35.00
17     4/19/2000      4   19  2000  53.57
18     4/20/2000      4   20  2000  27.78
19     4/21/2000      4   21  2000  19.33
20     4/22/2000      4   22  2000  22.78
21     4/23/2000      4   23  2000  13.30
22     4/25/2000      4   25  2000  23.33
23     4/26/2000      4   26  2000  27.31
24     4/27/2000      4   27  2000  19.36
25     4/28/2000      4   28  2000   9.37
26      5/5/2000      5    5  2000   3.03
27      5/8/2000      5    8  2000   3.01
28     5/11/2000      5   11  2000   3.00
29     5/13/2000      5   13  2000   6.16
...          ...    ...  ...   ...    ...
3348  10/29/2017     10   29  2017  13.85
3349  10/30/2017     10   30  2017   3.01
3350   11/2/2017     11    2  2017  13.05
3351   11/3/2017     11    3  2017  23.63
3352   11/4/2017     11    4  2017  33.46
3353   11/5/2017     11    5  2017  40.71
3354   11/6/2017     11    6  2017  36.03
3355   11/7/2017     11    7  2017  33.11
3356   11/8/2017     11    8  2017  51.47
3357   11/9/2017     11    9  2017  50.90
3358  11/10/2017     11   10  2017  44.83
3359  11/11/2017     11   11  2017  22.95
3360  11/13/2017     11   13  2017  15.65
3361  11/14/2017     11   14  2017  23.68
3362  11/15/2017     11   15  2017  31.94
3363  11/16/2017     11   16  2017  34.88
3364  11/17/2017     11   17  2017  29.82
3365  11/23/2017     11   23  2017   3.01
3366  11/30/2017     11   30  2017   3.04
3367   12/1/2017     12    1  2017  16.78
3368   12/2/2017     12    2  2017  20.84
3369   12/3/2017     12    3  2017  24.43
3370   12/4/2017     12    4  2017  27.44
3371   12/5/2017     12    5  2017  23.64
3372   12/6/2017     12    6  2017  24.62
3373   12/7/2017     12    7  2017   9.56
3374   12/8/2017     12    8  2017   6.22
3375   12/9/2017     12    9  2017  32.15
3376  12/10/2017     12   10  2017  15.60
3377  12/31/2017     12   31  2017   9.93

[3378 rows x 5 columns]

# Accumulated MLLW per days

    Extract/calcuate the highest water level per day

In [19]:
OutputFileName_MLLWmax="max20002017MLLWperday.csv"
OutputFile_MLLWmax=open(OutputFileName_MLLWmax,"w")
OutputFile_MLLWmax.write("date,month,day,year,mean_ft,max_ft\n")

for i in MLLW_Sewells.Date.unique():
    maximMLLW=np.max(MLLW_Sewells.Verified_ft[MLLW_Sewells.Date==i])
    Date=i
    month=np.mean(MLLW_Sewells.month[MLLW_Sewells.Date==i])
    day=np.mean(MLLW_Sewells.day[MLLW_Sewells.Date==i])
    year=np.mean(MLLW_Sewells.year[MLLW_Sewells.Date==i])
    avgMLLW=np.mean(MLLW_Sewells.Verified_ft[MLLW_Sewells.Date==i])
    Ouputstring_MLLWmax= "%s,%i,%i,%i,%f,%f" % (Date,month,day,year,avgMLLW,maximMLLW)
    OutputFile_MLLWmax.write(Ouputstring_MLLWmax + "\n")

In [20]:
MLLW_Sewells_max=pd.read_csv(OutputFileName_MLLWmax)
MLLW_Sewells_max

            date  month  day  year   mean_ft  max_ft
0       1/1/2000      1    1  2000  0.965417    2.31
1       1/2/2000      1    2  2000  1.019583    2.41
2       1/3/2000      1    3  2000  0.669167    2.07
3       1/4/2000      1    4  2000  0.462500    1.80
4       1/5/2000      1    5  2000  0.891250    2.75
5       1/6/2000      1    6  2000  0.637917    2.04
6       1/7/2000      1    7  2000  0.900417    2.34
7       1/8/2000      1    8  2000  0.921250    2.31
8       1/9/2000      1    9  2000  0.712083    2.14
9      1/10/2000      1   10  2000  1.038333    2.53
10     1/11/2000      1   11  2000  1.030417    2.12
11     1/12/2000      1   12  2000  0.483750    1.70
12     1/13/2000      1   13  2000  0.179583    1.28
13     1/14/2000      1   14  2000  1.052917    2.51
14     1/15/2000      1   15  2000  0.545833    1.69
15     1/16/2000      1   16  2000  0.344583    1.47
16     1/17/2000      1   17  2000  0.952500    2.54
17     1/18/2000      1   18  2000  0.911667    2.58
18     1/19/2000      1   19  2000  1.530417    3.36
19     1/20/2000      1   20  2000  1.611250    3.54
20     1/21/2000      1   21  2000  1.559167    3.36
21     1/22/2000      1   22  2000  1.103333    3.02
22     1/23/2000      1   23  2000  0.615000    2.32
23     1/24/2000      1   24  2000  1.457500    3.32
24     1/25/2000      1   25  2000  3.764583    5.46
25     1/26/2000      1   26  2000  1.889583    3.06
26     1/27/2000      1   27  2000  0.957917    2.29
27     1/28/2000      1   28  2000  0.339167    1.65
28     1/29/2000      1   29  2000  0.263750    1.26
29     1/30/2000      1   30  2000  0.810417    2.00
...          ...    ...  ...   ...       ...     ...
6545   12/2/2017     12    2  2017  1.991250    3.74
6546   12/3/2017     12    3  2017  2.029167    3.94
6547   12/4/2017     12    4  2017  2.016667    3.97
6548   12/5/2017     12    5  2017  1.932500    3.77
6549   12/6/2017     12    6  2017  2.005417    4.03
6550   12/7/2017     12    7  2017  1.702500    3.28
6551   12/8/2017     12    8  2017  1.641667    3.22
6552   12/9/2017     12    9  2017  2.532083    4.18
6553  12/10/2017     12   10  2017  2.150833    3.22
6554  12/11/2017     12   11  2017  1.409167    2.40
6555  12/12/2017     12   12  2017  1.115000    2.50
6556  12/13/2017     12   13  2017  1.431667    2.84
6557  12/14/2017     12   14  2017  0.449583    2.06
6558  12/15/2017     12   15  2017  1.283333    2.73
6559  12/16/2017     12   16  2017  0.976667    2.49
6560  12/17/2017     12   17  2017  0.521250    2.02
6561  12/18/2017     12   18  2017  1.112500    2.67
6562  12/19/2017     12   19  2017  1.362083    2.69
6563  12/20/2017     12   20  2017  1.250833    2.60
6564  12/21/2017     12   21  2017  1.435833    2.93
6565  12/22/2017     12   22  2017  1.486250    2.78
6566  12/23/2017     12   23  2017  1.434167    2.51
6567  12/24/2017     12   24  2017  1.620417    2.86
6568  12/25/2017     12   25  2017  1.427917    2.52
6569  12/26/2017     12   26  2017  0.617500    1.75
6570  12/27/2017     12   27  2017  0.472500    1.90
6571  12/28/2017     12   28  2017  1.045000    2.29
6572  12/29/2017     12   29  2017  0.533333    1.91
6573  12/30/2017     12   30  2017  0.986250    2.72
6574  12/31/2017     12   31  2017  1.558333    3.40

[6575 rows x 6 columns]

    Calculate ACCUMULATED water level per 'n' days

In [21]:
MLLW_Sewells_max['date'] = pd.to_datetime(MLLW_Sewells_max['date'])
df = MLLW_Sewells_max.groupby('year').apply(lambda x: x.set_index('date').resample('1D').first())
# print (df)

# define here the number of days of accumulated rain 
# use 'window = n'
df1 = df.groupby(level=0)['max_ft'].apply(lambda x: x.shift().rolling(min_periods=1,window=2).sum()).reset_index(name='Sum_Past_2_days')
df2 = df.groupby(level=0)['max_ft'].apply(lambda x: x.shift().rolling(min_periods=1,window=3).sum()).reset_index(name='Sum_Past_3_days')
df3 = df.groupby(level=0)['max_ft'].apply(lambda x: x.shift().rolling(min_periods=1,window=5).sum()).reset_index(name='Sum_Past_5_days')

# merged the data
merged_1=pd.merge(MLLW_Sewells_max,df1)
merged_2=pd.merge(merged_1,df2)
merged_MLLW_Sewells=pd.merge(merged_2,df3)

# take a look on the new table (with the merged data)
merged_MLLW_Sewells

,date,month,day,year,mean_ft,max_ft,Sum_Past_2_days,Sum_Past_3_days,Sum_Past_5_days
0,2000-01-01,1,1,2000,0.965417,2.31,NaN,NaN,NaN
1,2000-01-02,1,2,2000,1.019583,2.41,2.31,2.31,2.31
2,2000-01-03,1,3,2000,0.669167,2.07,4.72,4.72,4.72
3,2000-01-04,1,4,2000,0.462500,1.80,4.48,6.79,6.79
4,2000-01-05,1,5,2000,0.891250,2.75,3.87,6.28,8.59
5,2000-01-06,1,6,2000,0.637917,2.04,4.55,6.62,11.34
6,2000-01-07,1,7,2000,0.900417,2.34,4.79,6.59,11.07
7,2000-01-08,1,8,2000,0.921250,2.31,4.38,7.13,11.00
8,2000-01-09,1,9,2000,0.712083,2.14,4.65,6.69,11.24
9,2000-01-10,1,10,2000,1.038333,2.53,4.45,6.79,11.58
10,2000-01-11,1,11,2000,1.030417,2.12,4.67,6.98,11.36
11,2000-01-12,1,12,2000,0.483750,1.70,4.65,6.79,11.44
12,2000-01-13,1,13,2000,0.179583,1.28,3.82,6.35,10.80
13,2000-01-14,1,14,2000,1.052917,2.51,2.98,5.10,9.77
14,2000-01-15,1,15,2000,0.545833,1.69,3.79,5.49,10.14
15,2000-01-16,1,16,2000,0.344583,1.47,4.20,5.48,9.30
16,2000-01-17,1,17,2000,0.952500,2.54,3.16,5.67,8.65
17,2000-01-18,1,18,2000,0.911667,2.58,4.01,5.70,9.49
18,2000-01-19,1,19,2000,1.530417,3.36,5.12,6.59,10.79
19,2000-01-20,1,20,2000,1.611250,3.54,5.94,8.48,11.64
20,2000-01-21,1,21,2000,1.559167,3.36,6.90,9.48,13.49
21,2000-01-22,1,22,2000,1.103333,3.02,6.90,10.26,15.38
22,2000-01-23,1,23,2000,0.615000,2.32,6.38,9.92,15.86
23,2000-01-24,1,24,2000,1.457500,3.32,5.34,8.70,15.60
24,2000-01-25,1,25,2000,3.764583,5.46,5.64,8.66,15.56
25,2000-01-26,1,26,2000,1.889583,3.06,8.78,11.10,17.48
26,2000-01-27,1,27,2000,0.957917,2.29,8.52,11.84,17.18
27,2000-01-28,1,28,2000,0.339167,1.65,5.35,10.81,16.45
28,2000-01-29,1,29,2000,0.263750,1.26,3.94,7.00,15.78
29,2000-01-30,1,30,2000,0.810417,2.00,2.91,5.20,13.72
...,...,...,...,...,...,...,...,...,...
6545,2017-12-02,12,2,2017,1.991250,3.74,6.54,9.18,13.86
6546,2017-12-03,12,3,2017,2.029167,3.94,7.24,10.28,15.17
6547,2017-12-04,12,4,2017,2.016667,3.97,7.68,11.18,16.86
6548,2017-12-05,12,5,2017,1.932500,3.77,7.91,11.65,18.19
6549,2017-12-06,12,6,2017,2.005417,4.03,7.74,11.68,18.92
6550,2017-12-07,12,7,2017,1.702500,3.28,7.80,11.77,19.45
6551,2017-12-08,12,8,2017,1.641667,3.22,7.31,11.08,18.99
6552,2017-12-09,12,9,2017,2.532083,4.18,6.50,10.53,18.27
6553,2017-12-10,12,10,2017,2.150833,3.22,7.40,10.68,18.48
6554,2017-12-11,12,11,2017,1.409167,2.40,7.40,10.62,17.93
6555,2017-12-12,12,12,2017,1.115000,2.50,5.62,9.80,16.30
6556,2017-12-13,12,13,2017,1.431667,2.84,4.90,8.12,15.52
6557,2017-12-14,12,14,2017,0.449583,2.06,5.34,7.74,15.14
6558,2017-12-15,12,15,2017,1.283333,2.73,4.90,7.40,13.02
6559,2017-12-16,12,16,2017,0.976667,2.49,4.79,7.63,12.53
6560,2017-12-17,12,17,2017,0.521250,2.02,5.22,7.28,12.62
6561,2017-12-18,12,18,2017,1.112500,2.67,4.51,7.24,12.14
6562,2017-12-19,12,19,2017,1.362083,2.69,4.69,7.18,11.97
6563,2017-12-20,12,20,2017,1.250833,2.60,5.36,7.38,12.60
6564,2017-12-21,12,21,2017,1.435833,2.93,5.29,7.96,12.47
6565,2017-12-22,12,22,2017,1.486250,2.78,5.53,8.22,12.91
6566,2017-12-23,12,23,2017,1.434167,2.51,5.71,8.31,13.67
6567,2017-12-24,12,24,2017,1.620417,2.86,5.29,8.22,13.51
6568,2017-12-25,12,25,2017,1.427917,2.52,5.37,8.15,13.68
6569,2017-12-26,12,26,2017,0.617500,1.75,5.38,7.89,13.60
6570,2017-12-27,12,27,2017,0.472500,1.90,4.27,7.13,12.42
6571,2017-12-28,12,28,2017,1.045000,2.29,3.65,6.17,11.54
6572,2017-12-29,12,29,2017,0.533333,1.91,4.19,5.94,11.32
6573,2017-12-30,12,30,2017,0.986250,2.72,4.20,6.10,10.37
6574,2017-12-31,12,31,2017,1.558333,3.40,4.63,6.92,10.57

Biochemicall data (i.e. dissolved nitrogen) from the Virginia Estuarine and Coastal Observing System station at the mouth of the Lafayete River.

    Data is publicly available at http://vecos.vims.edu/

    Station name: Lafayette - Chesapeake Bay Program Longterm Monitoring Station 

    Station ID: LAF1

    one sample collection multiple times per month (inconsistently). For a given day, data is available at different water-column depths.

In [22]:
infile_VECOS_Laf_head='C:/Users/a_mac/Box Sync/current projects/MTM through the year/0_NFK_weather_review/VECOS Lafayette/VECOS head lafayette_Granby_ long term monitoring station 1998 to 2018.csv'
VECOS_Laf_head=pd.read_csv(infile_VECOS_Laf_head)
VECOS_Laf_head

,Station,EventID,Cruise,Program,Project,Agency,Source,Station.1,date,month,...,value,unit,Method,Lab,Problem,Precision,BiasPC,Details,Lat,Long
0,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.13000,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
1,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.16000,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
2,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,10.14000,MG/L,F01,NaN,NaN,NaN,NaN,STORET DATA CONVERSION,36.8894,-76.28144
3,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,10.16000,MG/L,F01,NaN,NaN,NaN,NaN,STORET DATA CONVERSION. DEPTH DESCRIPTION AND ...,36.8894,-76.28144
4,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,10.19000,MG/L,F01,NaN,NaN,NaN,NaN,STORET DATA CONVERSION,36.8894,-76.28144
5,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.27700,MG/L,D02,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
6,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.36500,MG/L,D02,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
7,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.00100,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
8,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.01000,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
9,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,240.00000,MPN/100 ML,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
10,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,3.00000,MG/L,L01,VADCLS,QQ,NaN,NaN,NaN,36.8894,-76.28144
11,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,4.00000,MG/L,L01,VADCLS,QQ,NaN,NaN,NaN,36.8894,-76.28144
12,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,1.14100,1/M,D01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.08000,MG/L,L01,VADCLS,NaN,4.444444,NaN,NaN,36.8894,-76.28144
14,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.05000,MG/L,L01,VADCLS,NaN,2.777778,NaN,NaN,36.8894,-76.28144
15,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.08000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
16,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.08000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
17,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.01000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
18,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.01000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
19,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.07000,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
20,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.07000,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
21,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.71800,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
22,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.74300,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
23,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,8.13000,SU,F01,NaN,NaN,NaN,NaN,STORET DATA CONVERSION,36.8894,-76.28144
24,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,7.98000,SU,F01,NaN,NaN,NaN,NaN,STORET DATA CONVERSION. DEPTH DESCRIPTION AND ...,36.8894,-76.28144
25,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.11100,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
26,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.12800,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
27,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.00400,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
28,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.02000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
29,LFB01,122199,BAY272,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,1/22/1998,1,...,0.02100,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13746,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.01100,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13747,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.00900,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13748,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.03400,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13749,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.02560,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13750,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,11.47000,PPT,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13751,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,11.37000,PPT,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13752,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,10.80000,PPT,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13753,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,1.70000,M,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13754,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,8.59923,NONE,D01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13755,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,9.02001,NONE,D01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13756,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,9.09212,NONE,D01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13757,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,19433.00000,UMHOS/CM,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13758,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,19298.00000,UMHOS/CM,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13759,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,18413.00000,UMHOS/CM,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13760,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.25200,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13761,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.33400,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13762,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.01800,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13763,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.01400,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13764,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.49100,MG/L,D04,VADCLS,GG,NaN,NaN,Sample analyzed 1/11/19 due to instrument malf...,36.8894,-76.28144
13765,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.45000,MG/L,D04,VADCLS,GG,NaN,NaN,Sample analyzed 1/11/19 due to instrument malf...,36.8894,-76.28144
13766,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.47600,MG/L,D02A,VADCLS,GG,NaN,NaN,Sample analyzed 1/11/19 due to instrument malf...,36.8894,-76.28144
13767,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.47750,MG/L,D02B,VADCLS,GG,NaN,NaN,Sample analyzed 1/11/19 due to instrument malf...,36.8894,-76.28144
13768,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,0.04360,MG/L,D01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13769,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,4.00000,MG/L,L01,VADCLS,QQ,NaN,NaN,NaN,36.8894,-76.28144
13770,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,5.00000,MG/L,L01,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13771,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,3.00000,MG/L,D01G,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144
13772,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,2.00000,MG/L,D01G,VADCLS,QQ,NaN,NaN,NaN,36.8894,-76.28144
13773,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,5.77000,DEG C,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13774,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,6.24000,DEG C,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144
13775,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,12/12/2018,12,...,6.34000,DEG C,F01,NaN,NaN,NaN,NaN,NaN,36.8894,-76.28144

In [23]:
VECOS_filter=VECOS_Laf_head[(VECOS_Laf_head.year>1999)&(VECOS_Laf_head.depth<1.5)&(VECOS_Laf_head.Parameter == "NO23F")]

Calculate average dissolved nitrogen concetration to be used in the anomaly

In [24]:
VECOS_filter['date'] = pd.to_datetime(VECOS_filter['date'])
df = VECOS_filter.groupby('year').apply(lambda x: x.set_index('date').resample('1D').first())
# print (df)

# define here the number of days of accumulated rain 
# use 'window = n'
df1 = df.groupby(level=0)['value'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).mean()).reset_index(name='mean_Past_30_days')
df2 = df.groupby(level=0)['value'].apply(lambda x: x.shift().rolling(min_periods=1,window=40).mean()).reset_index(name='mean_Past_40_days')
df3 = df.groupby(level=0)['value'].apply(lambda x: x.shift().rolling(min_periods=1,window=50).mean()).reset_index(name='mean_Past_50_days')

# merged the data
merged_1=pd.merge(VECOS_filter,df1)
merged_2=pd.merge(merged_1,df2)
merged_VECOS=pd.merge(merged_2,df3)

# take a look on the new table (with the merged data)
merged_VECOS

C:\Users\a_mac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Station,EventID,Cruise,Program,Project,Agency,Source,Station.1,date,month,...,Lab,Problem,Precision,BiasPC,Details,Lat,Long,mean_Past_30_days,mean_Past_40_days,mean_Past_50_days
0,LFB01,110013,BAY312,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-01-31,1,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
1,LFB01,110259,BAY313,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-02-24,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.035,0.035,0.035
2,LFB01,110552,BAY314,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-03-23,3,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.006,0.006,0.006
3,LFB01,111328,BAY319,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-05-25,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
4,LFB01,96942,BAY320,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-06-22,6,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
5,LFB01,97265,BAY322,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-07-20,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
6,LFB01,97725,BAY324,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-08-23,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.004,0.004
7,LFB01,98036,BAY326,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-09-21,9,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.008,0.008,0.008
8,LFB01,98404,BAY328,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-10-26,10,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.048,0.048
9,LFB01,98651,BAY330,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-11-27,11,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.005,0.005
10,LFB01,98881,BAY331,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2000-12-14,12,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.017,0.017,0.011
11,LFB01,78362,BAY332,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-01-25,1,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
12,LFB01,78662,BAY333,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-02-22,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
13,LFB01,78855,BAY335,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-03-20,3,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
14,LFB01,79379,BAY336,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-04-26,4,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.009,0.009
15,LFB01,79690,BAY338,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-05-22,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.078,0.078,0.078
16,LFB01,90904,BAY342,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-07-26,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
17,LFB01,91263,BAY344,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-08-23,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.006,0.006,0.006
18,LFB01,91631,BAY346,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-09-20,9,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.029,0.029,0.029
19,LFB01,92551,BAY351,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2001-12-13,12,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
20,LFB01,59687,BAY352,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-01-24,1,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
21,LFB01,59964,BAY353,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-02-21,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.010,0.010,0.010
22,LFB01,60283,BAY354,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-03-21,3,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.005,0.005,0.005
23,LFB01,60657,BAY357,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-04-18,4,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.065,0.065,0.065
24,LFB01,61193,BAY359,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-05-29,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,0.007
25,LFB01,61558,BAY361,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-06-27,6,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.005,0.005,0.005
26,LFB01,65967,BAY362,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-07-25,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
27,LFB01,66284,BAY364,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-08-15,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.014,0.014,0.009
28,LFB01,66772,BAY367,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-09-30,9,...,VADCLS,NaN,NaN,NaN,BDL data presented is below method reporting l...,36.8894,-76.28144,NaN,NaN,0.005
29,LFB01,67069,BAY369,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2002-10-24,10,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.004,0.004,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,LFB01,415157,BAY656,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2015-09-09,9,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.012,0.012,0.012
181,LFB01,415024,BAY661,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2015-11-16,11,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
182,LFB01,415025,BAY663,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2015-12-16,12,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.080,0.080,0.080
183,LFB01,422042,BAY665,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-01-27,1,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
184,LFB01,422043,BAY666,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-02-09,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.062,0.062,0.062
185,LFB01,422044,BAY668,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-03-08,3,...,VADCLS,NaN,NaN,NaN,Interference suspected,36.8894,-76.28144,0.010,0.010,0.036
186,LFB01,422045,BAY672,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-05-12,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
187,LFB01,422046,BAY674,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-06-14,6,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.055,0.055
188,LFB01,422902,BAY676,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-07-12,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
189,LFB01,422903,BAY678,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-08-11,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
190,LFB01,422904,BAY680,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-09-13,9,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.007,0.007
191,LFB01,425678,BAY682,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-10-12,10,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
192,LFB01,425679,BAY684,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2016-11-08,11,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.293,0.293,0.293
193,LFB01,429492,BAY689,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-01-25,1,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
194,LFB01,429493,BAY690,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-02-07,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
195,LFB01,429494,BAY692,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-03-07,3,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
196,LFB01,429495,BAY694,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-04-11,4,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.002,0.002
197,LFB01,429496,BAY698,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-06-13,6,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
198,LFB01,429827,BAY700,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-07-10,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
199,LFB01,429828,BAY702,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-08-10,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.002,0.002
200,LFB01,429829,BAY704,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-09-12,9,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.022,0.022
201,LFB01,447243,BAY707,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2017-10-18,10,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.064,0.064
202,LFB01,448671,BAY714,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-02-14,2,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
203,LFB01,449286,BAY720,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-05-10,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
204,LFB01,449286,BAY720,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-05-10,5,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
205,LFB01,449287,BAY722,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-06-13,6,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.021,0.021
206,LFB01,450470,BAY725,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-07-17,7,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,0.017,0.017
207,LFB01,450471,BAY726,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-08-14,8,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,0.002,0.002,0.002
208,LFB01,454224,BAY731,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-10-17,10,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN
209,LFB01,454225,BAY734,TWQM,TRIB,VADEQ,VADEQ/TRO,LFB01,2018-12-12,12,...,VADCLS,NaN,NaN,NaN,NaN,36.8894,-76.28144,NaN,NaN,NaN

In [25]:
Calculate dissolved nitrogen anomaly

SyntaxError: invalid syntax (<ipython-input-25-0bcd16be4e86>, line 1)

In [28]:
OutputFileName = "anomalyNOx_VECOS.csv"
OutputFile = open(OutputFileName,"w")
OutputFile.write("EventID,month,day,year,anomNOx,nitra,avgnitr\n")

for i in merged_VECOS.date[(merged_VECOS.Parameter == "NO23F")].unique():
    EventID=np.mean(merged_VECOS.EventID[merged_VECOS.date==i])
#     Date=pd.to_datetime(str(merged_VECOS.date[merged_VECOS.date==i]))
#     Date=VECOS_filter.date[VECOS_filter.date==i]
#     Date=merged_VECOS.date[merged_VECOS.date==i].unique()
#     Date=merged_VECOS.date[merged_VECOS.date==i]
#     Date==i.unique()
    month=np.mean(merged_VECOS.month[merged_VECOS.date==i])
    day=np.mean(merged_VECOS.day[merged_VECOS.date==i])
    year=np.mean(merged_VECOS.year[merged_VECOS.date==i])
    anomNOx=np.mean((merged_VECOS.value[merged_VECOS.date==i])-(merged_VECOS.mean_Past_50_days[merged_VECOS.date==i]))
    nitr=np.mean(merged_VECOS.value[merged_VECOS.date==i])
    avgnitr=np.mean(merged_VECOS.mean_Past_50_days[merged_VECOS.date==i])
    
    Outputstring = "%i,%i,%i,%i,%f,%f,%f" % (EventID,month,day,year,anomNOx,nitr,avgnitr)
    OutputFile.write(Outputstring + "\n")

In [29]:
infile = "anomalyNOx_VECOS.csv"
anomalyNOx_VECOS=pd.read_csv(infile)
anomalyNOx_VECOS

     EventID  month  day  year  anomNOx   nitra  avgnitr
0     110013      1   31  2000      NaN  0.0350      NaN
1     110259      2   24  2000   -0.029  0.0060    0.035
2     110552      3   23  2000    0.036  0.0420    0.006
3     111328      5   25  2000      NaN  0.0040      NaN
4      96942      6   22  2000    0.000  0.0040    0.004
5      97265      7   20  2000    0.000  0.0040    0.004
6      97725      8   23  2000    0.004  0.0080    0.004
7      98036      9   21  2000    0.040  0.0480    0.008
8      98404     10   26  2000   -0.043  0.0050    0.048
9      98651     11   27  2000    0.012  0.0170    0.005
10     98881     12   14  2000   -0.007  0.0040    0.011
11     78362      1   25  2001      NaN  0.0040      NaN
12     78662      2   22  2001    0.000  0.0040    0.004
13     78855      3   20  2001    0.005  0.0090    0.004
14     79379      4   26  2001    0.069  0.0780    0.009
15     79690      5   22  2001   -0.042  0.0360    0.078
16     90904      7   26  2001      NaN  0.0060      NaN
17     91263      8   23  2001    0.023  0.0290    0.006
18     91631      9   20  2001    0.079  0.1080    0.029
19     92551     12   13  2001      NaN  0.0470      NaN
20     59687      1   24  2002      NaN  0.0100      NaN
21     59964      2   21  2002   -0.005  0.0050    0.010
22     60283      3   21  2002    0.060  0.0650    0.005
23     60657      4   18  2002   -0.058  0.0070    0.065
24     61193      5   29  2002   -0.002  0.0050    0.007
25     61558      6   27  2002   -0.001  0.0040    0.005
26     65967      7   25  2002    0.010  0.0140    0.004
27     66284      8   15  2002   -0.004  0.0050    0.009
28     66772      9   30  2002   -0.001  0.0040    0.005
29     67069     10   24  2002    0.200  0.2040    0.004
..       ...    ...  ...   ...      ...     ...      ...
174   415156      8   12  2015    0.010  0.0120    0.002
175   415157      9    9  2015    0.091  0.1030    0.012
176   415024     11   16  2015      NaN  0.0800      NaN
177   415025     12   16  2015   -0.052  0.0280    0.080
178   422042      1   27  2016      NaN  0.0620      NaN
179   422043      2    9  2016   -0.052  0.0100    0.062
180   422044      3    8  2016   -0.034  0.0020    0.036
181   422045      5   12  2016      NaN  0.0550      NaN
182   422046      6   14  2016   -0.053  0.0020    0.055
183   422902      7   12  2016    0.000  0.0020    0.002
184   422903      8   11  2016    0.005  0.0070    0.002
185   422904      9   13  2016   -0.005  0.0020    0.007
186   425678     10   12  2016    0.291  0.2930    0.002
187   425679     11    8  2016   -0.135  0.1580    0.293
188   429492      1   25  2017      NaN  0.0020      NaN
189   429493      2    7  2017    0.000  0.0020    0.002
190   429494      3    7  2017    0.000  0.0020    0.002
191   429495      4   11  2017    0.000  0.0020    0.002
192   429496      6   13  2017      NaN  0.0020      NaN
193   429827      7   10  2017    0.000  0.0020    0.002
194   429828      8   10  2017    0.020  0.0220    0.002
195   429829      9   12  2017    0.042  0.0640    0.022
196   447243     10   18  2017    0.119  0.1830    0.064
197   448671      2   14  2018      NaN  0.0020      NaN
198   449286      5   10  2018      NaN  0.0185      NaN
199   449287      6   13  2018   -0.004  0.0170    0.021
200   450470      7   17  2018   -0.015  0.0020    0.017
201   450471      8   14  2018    0.013  0.0150    0.002
202   454224     10   17  2018      NaN  0.1810      NaN
203   454225     12   12  2018      NaN  0.0120      NaN

[204 rows x 7 columns]

# Combine the datasets (nutrients, wind/precipitation, and water level) for matching dates



Build a code to match the days in which all data is available

In [32]:
OutputFileName = "anomalyNOxmatchingdays.csv"
OutputFile = open(OutputFileName,"w")
OutputFile.write("month,day,year,nitra,anomNOx,rain,tworain,threerain,fiverain,windspeed,winddir,Condct,WatTemp,twoWatTemp,threeWatTemp,fiveWatTemp,aboveMLLW,MLLW,twoMLLW,threeMLLW,fiveMLLW\n")

for i in VECOS_filter.date[(VECOS_filter.Parameter == "NO23F")].unique():
    date=NFK_airport.DATE[NFK_airport.DATE==i]
    month=NFK_airport.month[NFK_airport.DATE==i]
    day=NFK_airport.day[NFK_airport.DATE==i]
    year=NFK_airport.year[NFK_airport.DATE==i]
    EventID=np.mean(VECOS_filter.EventID[VECOS_filter.date==i])
    nitra=np.mean(anomalyNOx_VECOS.nitra[anomalyNOx_VECOS.EventID==EventID])
    anomNOx=np.mean(anomalyNOx_VECOS.anomNOx[anomalyNOx_VECOS.EventID==EventID])
    

    rain=merged_NFK_airport.PRCP[merged_NFK_airport.DATE==i]
    tworain=merged_NFK_airport.Sum_Past_2_days[merged_NFK_airport.DATE==i]
    threerain=merged_NFK_airport.Sum_Past_3_days[merged_NFK_airport.DATE==i]
    fiverain=merged_NFK_airport.Sum_Past_5_days[merged_NFK_airport.DATE==i]
    windspeed=merged_NFK_airport.AWND[merged_NFK_airport.DATE==i]
    winddir=merged_NFK_airport.WDF2[merged_NFK_airport.DATE==i]
    Condct=np.mean(merged_Sewells.Cond[merged_Sewells.Date==i])
    WatTemp=np.mean(merged_Sewells.Temp[merged_Sewells.Date==i])
    twoWatTemp=np.mean(merged_Sewells.Sum_Past_2_days[merged_Sewells.Date==i])
    threeWatTemp=np.mean(merged_Sewells.Sum_Past_3_days[merged_Sewells.Date==i])
    fiveWatTemp=np.mean(merged_Sewells.Sum_Past_5_days[merged_Sewells.Date==i])
    aboveMLLW=np.max(MLLW_above3ft.above[MLLW_above3ft.Date==i])
    MLLW=np.mean(merged_MLLW_Sewells.max_ft[merged_MLLW_Sewells.date==i])
    twoMLLW=np.mean(merged_MLLW_Sewells.Sum_Past_2_days[merged_MLLW_Sewells.date==i])
    threeMLLW=np.mean(merged_MLLW_Sewells.Sum_Past_3_days[merged_MLLW_Sewells.date==i])
    fiveMLLW=np.mean(merged_MLLW_Sewells.Sum_Past_5_days[merged_MLLW_Sewells.date==i])



    Outputstring = "%i,%i,%i,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f,%f" % (month,day,year,nitra,anomNOx,rain,tworain,threerain,fiverain,windspeed,winddir,Condct,WatTemp,twoWatTemp,threeWatTemp,fiveWatTemp,aboveMLLW,MLLW,twoMLLW,threeMLLW,fiveMLLW)

    OutputFile.write(Outputstring + "\n")

In [33]:
infile = "anomalyNOxmatchingdays.csv"
match_data=pd.read_csv(infile)
match_data

,month,day,year,nitra,anomNOx,rain,tworain,threerain,fiverain,windspeed,...,Condct,WatTemp,twoWatTemp,threeWatTemp,fiveWatTemp,aboveMLLW,MLLW,twoMLLW,threeMLLW,fiveMLLW
0,1,31,2000,0.0350,NaN,0.00,1.07,1.07,1.07,8.95,...,NaN,1.800000,2.900000,4.400000,9.300000,NaN,2.16,3.26,4.91,10.26
1,2,24,2000,0.0060,-0.029,0.00,0.00,0.00,0.02,9.40,...,NaN,7.300000,13.100000,19.400000,31.600000,NaN,2.11,4.49,7.20,12.83
2,3,23,2000,0.0420,0.036,0.00,0.67,0.81,0.81,10.07,...,NaN,12.150000,21.400000,32.500000,56.100000,NaN,4.25,8.35,12.07,18.45
3,5,25,2000,0.0040,NaN,0.10,0.00,0.68,1.11,7.83,...,NaN,22.300000,42.200000,64.275000,106.675000,NaN,2.79,6.02,9.24,15.48
4,6,22,2000,0.0040,0.000,0.02,0.01,0.81,1.12,12.30,...,NaN,25.500000,50.300000,76.100000,127.500000,NaN,2.12,5.25,7.61,12.64
5,7,20,2000,0.0040,0.000,0.21,0.99,0.99,2.43,7.38,...,NaN,26.600000,53.900000,80.000000,133.175000,NaN,2.98,5.85,9.04,15.30
6,8,23,2000,0.0080,0.004,0.00,0.00,0.00,0.75,7.38,...,NaN,24.900000,50.300000,75.500000,126.700000,NaN,2.56,5.60,8.65,14.60
7,9,21,2000,0.0480,0.040,0.00,0.00,0.23,0.23,8.95,...,NaN,23.200000,46.100000,69.500000,118.300000,NaN,2.44,4.77,7.30,14.08
8,10,26,2000,0.0050,-0.043,0.00,0.00,0.00,0.00,8.50,...,NaN,NaN,NaN,NaN,NaN,NaN,3.04,5.93,8.98,14.52
9,11,27,2000,0.0170,0.012,0.00,0.73,0.73,0.73,7.83,...,NaN,NaN,NaN,NaN,NaN,NaN,2.71,6.50,9.01,12.74
10,12,14,2000,0.0040,-0.007,0.29,0.00,0.00,0.20,10.74,...,NaN,NaN,NaN,NaN,NaN,NaN,2.76,5.56,8.74,14.94
11,1,25,2001,0.0040,NaN,0.00,0.00,0.00,0.68,13.20,...,NaN,4.300000,8.900000,13.400000,22.600000,NaN,3.06,5.61,8.18,14.05
12,2,22,2001,0.0040,0.000,0.46,0.00,0.00,0.65,17.22,...,NaN,7.600000,14.700000,22.100000,37.000000,NaN,2.91,3.75,5.63,10.91
13,3,20,2001,0.0090,0.005,0.09,0.00,-0.00,0.50,14.99,...,NaN,9.500000,19.887500,29.287500,46.987500,NaN,2.56,4.79,7.11,11.97
14,4,26,2001,0.0780,0.069,0.00,0.64,0.64,0.64,18.12,...,NaN,15.200000,32.900000,48.500000,77.400000,NaN,3.12,5.02,6.91,10.92
15,5,22,2001,0.0360,-0.042,0.00,1.08,1.10,1.12,13.65,...,NaN,19.900000,39.600000,59.725000,97.225000,NaN,3.44,6.63,9.53,15.44
16,7,26,2001,0.0060,NaN,0.16,0.03,0.61,0.61,16.55,...,NaN,26.200000,51.200000,76.100000,126.550000,NaN,1.81,5.34,8.75,16.56
17,8,23,2001,0.0290,0.023,0.00,-0.00,0.05,2.16,10.29,...,NaN,27.500000,55.000000,82.400000,137.550000,NaN,2.72,6.17,9.26,15.18
18,9,20,2001,0.1080,0.079,0.56,-0.00,-0.00,0.00,6.93,...,NaN,23.625000,46.050000,68.850000,117.450000,NaN,3.44,7.16,11.51,20.10
19,12,13,2001,0.0470,NaN,0.00,1.33,1.42,1.42,9.40,...,NaN,13.400000,27.300000,41.500000,70.300000,NaN,3.44,6.92,10.12,15.83
20,1,24,2002,0.0100,NaN,0.00,0.21,0.35,1.90,16.78,...,NaN,6.900000,12.000000,17.800000,30.000000,NaN,1.54,2.85,5.02,9.85
21,2,21,2002,0.0050,-0.005,0.02,-0.00,-0.00,0.00,9.17,...,NaN,8.900000,15.600000,23.800000,40.400000,NaN,2.24,4.72,7.17,11.47
22,3,21,2002,0.0650,0.060,0.01,0.23,0.72,1.74,8.72,...,NaN,11.700000,23.100000,34.600000,59.000000,NaN,2.78,5.43,8.53,13.20
23,4,18,2002,0.0070,-0.058,0.00,-0.00,0.15,0.16,7.38,...,NaN,19.100000,35.300000,52.300000,84.300000,NaN,2.22,4.35,6.32,10.99
24,5,29,2002,0.0050,-0.002,0.00,-0.00,-0.00,-0.00,7.61,...,NaN,21.600000,46.425000,66.925000,105.525000,NaN,2.87,6.16,9.42,15.13
25,6,27,2002,0.0040,-0.001,0.51,-0.00,-0.00,0.00,16.55,...,NaN,27.200000,55.200000,82.200000,134.000000,NaN,2.32,5.53,8.26,14.20
26,7,25,2002,0.0140,0.010,0.07,1.73,1.73,1.81,9.17,...,NaN,28.200000,57.100000,85.700000,141.600000,NaN,2.80,4.87,8.15,14.60
27,8,15,2002,0.0050,-0.004,0.65,-0.00,-0.00,-0.00,11.63,...,NaN,27.200000,54.600000,81.300000,135.000000,NaN,2.37,5.23,8.11,14.45
28,9,30,2002,0.0040,-0.001,0.00,0.00,-0.00,0.55,6.26,...,NaN,24.400000,49.050000,73.650000,123.450000,NaN,2.96,5.84,9.29,16.54
29,10,24,2002,0.2040,0.200,0.00,0.00,0.52,0.52,10.96,...,NaN,18.100000,36.800000,55.900000,95.000000,NaN,2.93,6.14,9.43,14.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,8,12,2015,0.0120,0.010,0.00,0.29,0.29,0.47,5.59,...,36.81,26.800000,52.600000,79.200000,134.500000,NaN,3.36,7.20,11.09,19.03
175,9,9,2015,0.1030,0.091,0.00,1.43,1.47,1.48,8.50,...,35.73,27.700000,52.900000,79.300000,132.500000,NaN,2.94,6.12,9.93,18.07
176,11,16,2015,0.0800,NaN,0.00,0.00,0.00,0.00,3.80,...,20.15,15.200000,32.000000,48.700000,82.500000,NaN,2.48,5.21,8.85,15.77
177,12,16,2015,0.0280,-0.052,0.00,0.01,0.01,0.01,8.50,...,23.23,13.500000,26.500000,39.300000,64.200000,NaN,3.08,6.36,9.49,15.98
178,1,27,2016,0.0620,NaN,0.03,0.00,0.00,2.89,10.51,...,15.96,4.500000,7.800000,11.300000,20.900000,NaN,2.86,7.41,12.51,20.64
179,2,9,2016,0.0100,-0.052,0.01,0.03,0.03,2.62,6.71,...,14.73,6.500000,13.600000,20.900000,36.300000,NaN,4.88,7.66,10.67,17.08
180,3,8,2016,0.0020,-0.034,0.00,0.00,0.00,0.69,7.38,...,16.84,8.800000,15.400000,22.800000,38.900000,NaN,2.69,6.90,10.25,15.75
181,5,12,2016,0.0550,NaN,0.00,0.11,0.11,0.24,6.26,...,19.55,18.700000,36.200000,54.100000,89.400000,NaN,3.14,6.72,10.58,19.39
182,6,14,2016,0.0020,-0.053,0.00,0.00,0.00,0.00,7.83,...,NaN,25.606641,51.447559,77.989063,129.003224,NaN,3.15,5.73,8.45,14.67
183,7,12,2016,0.0020,0.000,0.00,0.00,0.00,1.08,8.05,...,21.17,28.475000,57.375000,85.775000,141.675000,NaN,3.13,6.53,9.96,16.55
184,8,11,2016,0.0070,0.005,0.00,1.76,1.78,1.78,8.50,...,NaN,15.855394,31.032490,46.782108,78.069608,NaN,2.29,5.56,8.53,14.70
185,9,13,2016,0.0020,-0.005,0.00,0.00,0.00,0.31,5.37,...,NaN,15.903551,31.082171,46.836036,78.625257,NaN,3.27,6.19,8.96,14.88
186,10,12,2016,0.2930,0.291,0.00,-0.00,1.80,9.24,4.92,...,NaN,15.774255,31.416481,47.080447,78.811522,NaN,3.62,7.59,13.37,21.11
187,11,8,2016,0.1580,-0.135,0.00,-0.00,0.00,0.58,3.80,...,24.80,16.100000,31.075000,47.050000,78.293750,NaN,3.55,6.45,9.93,16.94
188,1,25,2017,0.0020,NaN,0.00,0.46,0.49,1.13,8.50,...,NaN,7.700000,16.600000,25.225000,41.181250,NaN,3.75,9.18,12.36,18.05
189,2,7,2017,0.0020,0.000,0.00,-0.00,0.00,0.00,15.21,...,NaN,7.710767,15.151743,22.416479,37.772519,NaN,2.14,4.34,7.37,13.08
190,3,7,2017,0.0020,0.000,0.00,-0.00,0.00,0.01,16.11,...,NaN,7.732812,15.164062,22.862499,38.214452,NaN,2.48,4.40,6.19,10.53
191,4,11,2017,0.0020,0.000,0.00,0.00,0.00,0.67,14.32,...,25.02,15.800000,30.200000,44.200000,73.900000,NaN,2.61,5.62,8.83,15.77
192,6,13,2017,0.0020,NaN,0.00,-0.00,0.00,0.00,12.08,...,25.39,25.100000,49.700000,74.600000,120.600000,NaN,2.58,5.59,9.01,17.53
193,7,10,2017,0.0020,0.000,0.00,0.42,0.42,1.07,7.61,...,29.81,28.000000,55.600000,83.300000,138.000000,NaN,3.13,6.45,9.73,16.20
194,8,10,2017,0.0220,0.020,0.00,0.95,2.68,2.68,7.38,...,34.65,26.200000,52.500000,79.000000,132.600000,NaN,3.27,6.60,9.76,16.67
195,9,12,2017,0.0640,0.042,0.00,-0.00,0.00,0.00,8.95,...,24.34,23.000000,47.800000,72.300000,122.000000,NaN,3.59,7.32,10.79,17.58
196,10,18,2017,0.1830,0.119,0.00,-0.00,0.01,0.57,4.03,...,30.10,21.600000,45.400000,68.600000,115.700000,NaN,3.57,7.23,10.47,19.42
197,2,14,2018,0.0020,NaN,0.00,0.40,0.40,0.40,8.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,5,10,2018,0.0185,NaN,0.38,-0.00,0.06,2.63,11.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,6,13,2018,0.0170,-0.004,0.00,0.27,0.93,0.93,9.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,7,17,2018,0.0020,-0.015,0.08,-0.00,0.00,0.00,12.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,8,14,2018,0.0150,0.013,0.00,0.10,3.82,3.82,6.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,10,17,2018,0.1810,NaN,0.10,0.01,0.01,0.05,6.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,12,12,2018,0.0120,NaN,0.00,0.09,1.63,1.63,4.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN